<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
  
    <div class="dropdown">
 

</div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/users/" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: white;" href="/users/myAccount/{{user.id}}">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/myBookings/{{user.email}}" style="color: white;">My Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/ublog" style="color: white;">Blog</a>
        </li>
        
        
       
      </ul>
      <form class="d-flex">
        <a class="btn btn-success dropdown-toggle" href="/users" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        {{user.username}}
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" class="btn btn-primary" href="/users/logout" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Logout</a></li>

    
    
  </ul>
      </form>
    </div>
  </div>
</nav>

<body style="background-image: url(https://images.pexels.com/photos/7630418/pexels-photo-7630418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-repeat: no-repeat; background-size: cover;">
  

<div class="container" style="margin-top:40px">
 <h2 style="color: black;  font-weight: bold;">My Bookings</h2>
  {{#each data}}
  
    <div class="card-body">
      <div class="card-header" style="color: black; font-size: 20px; font-weight: bold;">Shop Name</div>
      <h5 class="card-title" style="color: black; ">{{this.shopname}}</h5>
      <div class="card-header" style="color: black; font-size: 20px; font-weight: bold;">Mail id</div>

      <h5 class="card-title" style="color: black;">{{this.email}}</h5>
      <div class="card-header" style="color: black; font-size: 20px; font-weight: bold;">Mobile</div>

      <h5 class="card-title" style="color: black;">{{this.mobile }}</h5>
      <div class="card-header" style="color: black; font-size: 20px; font-weight: bold;">City</div>

      <h5 class="card-title" style="color: black;">{{this.city}}</h5>
      <div class="card-header" style="color: black; font-size: 20px; font-weight: bold;">Status</div>

      <h5 class="card-title" style="color: black;">{{this.status}}</h5>
      <div class="card-header" style="color: black; font-size: 20px; font-weight: bold;">Time</div>

      <h5 class="card-title" style="color: black;">{{this.time}}</h5>
         <div class="card-header" style="color: black; font-size: 20px; font-weight: bold;">Payment Status</div>
      <h5 class="card-title" style="color: black;">{{this.rs}}</h5>
        <a href="/users/payNow/{{id}}"  class="btn btn-success">PayNow</a>

    </div><br>


{{/each}}

</div>
</body>