

<head>
    <meta charset="utf-8">
    <title>Get User Location in JavaScript | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body style="background-image: url(https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-repeat: no-repeat; background-size: cover;">

<div class="container">
<div class="row">
    {{#each row}}
    <div class="col sm-3">
<div class="card" style="width: 21rem;">
  <img style="height: 210px;" src="/images/menu/{{this.noFoodA}}" alt="https://qph.fs.quoracdn.net/main-qimg-2b21b9dd05c757fe30231fac65b504dd">
  <div class="card-body">
    <h5 class="card-title">{{this.mail}}</h5>
    <p class="card-text">{{this.f1}}</p>
    <p class="card-text">{{this.f2}}</p>
    <p class="card-text">{{this.f3}}/Day</p>
    <a href="/users/booknow/{{this.id}} " class="btn btn-outline-success">Booknow</a>
      <a href="/users/view/{{this.id}}/{{this.mail}} " class="btn btn-outline-dark">View Details</a>
      {{!-- <a href="/users/contact/{{this.email}} " class="btn btn-outline-warning">Contact</a> --}}
  </div>
</div>
    </div>
    {{/each}}
</div>
</div>
  

<script>
    const button = document.getElementById("gio");
button.addEventListener("click", ()=>{
    if(navigator.geolocation){
        button.innerText = "Allow gmap to detect location";
        navigator.geolocation.getCurrentPosition(onSuccess, onError);
    }else{
        button.innerText = "Your browser not support";
    }
});
function onSuccess(position){
      var locationData = document.getElementById('showdata');
    locationData.innerText = "Detecting your location...";
    let {latitude, longitude} = position.coords;
    console.log(latitude);
   // document.getElementById("lati").value =latitude ;
     //document.getElementById("longti").value =latitude ;
    console.log(longitude);
    console.log("----------------this is position")
    //8bb9d1ee2d9743e29d3f1216c002b2f4
    fetch(`https://api.opencagedata.com/geocode/v1/json?q=${latitude}+${longitude}&key=8bb9d1ee2d9743e29d3f1216c002b2f4`)
    .then(response => response.json()).then(response =>{
        let allDetails = response.results[0].components;
        console.table(allDetails);
        let {suburb, postcode, city} = allDetails;
      
        locationData.innerText = `${suburb} ${postcode}, ${city}`;
    }).catch(()=>{
        button.innerText = "Something went wrong";
    });
}
function onError(error){
    if(error.code == 1){
        button.innerText = "You denied the request";
    }else if(error.code == 2){
        button.innerText = "Location is unavailable";
    }else{
        button.innerText = "Something went wrong";
    }
    button.setAttribute("disabled", "true");
}



</script>
</body>